name: C++ CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libasio-dev libssl-dev wget
        sudo mkdir -p /usr/include/nlohmann
        sudo wget -q https://github.com/nlohmann/json/releases/download/v3.11.2/json.hpp -P /usr/include/nlohmann/

    - name: Compile
      run: |
      g++ src/main.cpp -o app -Iinclude -lpthread